
*{
    margin: 0;
    padding: 0;
}

.entry-title{
    text-align: center;
    padding: 15px 0px 30px;
}

.cat-series{
    text-align: center;
    margin-bottom: 100px;
}

.entry-info{
    display: none;
}

#novel {
    text-align: justify;
    background-color: black;
    color: white;
    font-family: serif;
    font-size: 2vw;
}

#novel p {
  padding: 1vh 12vw;
}

#novel p::before{
    content: '‎ ‎‎ ‎ ‎ ‎ ‎ ';
}

#novel > :not(p, h1, .cat-series, article, #container, main){
    display: none;
}

.tabulacao{
    display: inline-block;
    width: 3vw;
}